<div class="header">
    <h1 class="title">Evidencias</h1>
  </div>
<div class="page">
    <div class="card">
        <div>
            <h2>Subir evidencias</h2>
        </div>
        <form >
            <div>
                <label class="nombre , cen">Nombre</label>
                <input class="input" type="text" placeholder="Ingrece el nombre del archivo">
            </div>
            <div>
                <label class="adjuntar , cen1">Adjuntar archivo</label>
                <br>
                <input type="file" class="input2 , cen2">
            </div>
            <div class="cen3">
                <button class="btn">Subir Evidencias</button>
            </div>
        </form>
    </div>
</div>